{% extends 'base.html.twig' %}

{% block title %}Edit Equipment{% endblock %}

{% block body %}

    <h1 class="alert alert-info">Edition de l'équipment</h1>

    {{ include('equipment/_form.html.twig', {'button_label': 'Save'}) }}

{% endblock %}