{% extends 'base.html.twig' %}

{% block title %}New Equipment{% endblock %}

{% block body %}
    <h1 class="alert alert-info text-center">Create new Equipment</h1>

    <div class="container col-12 text-center">
    {% include "equipment/_form.html.twig" %}
	</div>

    <a href="{{ path('equipment_index') }}">back to list</a>
{% endblock %}