{{ form_start(form) }}
{{ form_label(form.equipment, 'Selectionnez un équipement dans la liste puis validez pour l\'ajouter au véhicule') }}
{{ form_widget(form.equipment, {'attr': {'class': 'text-center mb-3'}}) }}
{% do form.longName.setRendered() %}
{% do form.weight.setRendered() %}
<button class="btn btn-success mx-auto d-flex justify-content-center m-3">Valider</button>
{{ form_end(form) }}