{% extends 'base.html.twig' %}

{% block title %}New Vehicle Equipment{% endblock %}

{% block body %}
    <h1 class="alert alert-info text-center">Create new Vehicle Equipment</h1>

    {{ include('vehicle_equipment/_form.html.twig') }}

    <a href="{{ path('vehicle_equipment_index') }}">back to list</a>
{% endblock %}